
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;500&family=Oswald:wght@300;700&display=swap');

*{
    padding: 0;
    margin: 0;
    text-decoration: none; 
    box-sizing: border-box;
  }
  
  body{
    background: linear-gradient(to bottom, #FFA17F, #00223E);
    background-size: auto 100vh;
    font-size: 14px;
  }

  header{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu{
      background-color: whitesmoke;
      position: fixed;
      width: 100vw;
      top: 0;
  }

  .menu ul{
      display: flex;
      justify-content: space-around;
      list-style: none;
  }

  .menu ul li a{
    font-family: 'DM Mono', monospace;
    font-size: 1.1em;
    color: #FFA17F;
  }

  .menu a{
    display: block;
    padding: 10px 15px;
  }

  .site-title,
  .site-subtitle{
      text-align: center;
      font-family: 'Oswald', sans-serif;
      color: whitesmoke;
  }

  .site-title{
      font-size: 50px;
  }

  /*BreakPoints*/

  @media (min-width: 400px){
    .menu ul li a{
      font-size: 1.3em;
    }
  }